{% extends "base.html" %}
{% block right %}
<p>i'm at right<br /> 
    <div class="p-5 text-center">
        <h3>Add tasks here!</h3>
        <a class="btn btn-primary btn-lg" href="{{url_for('todo.addtask')}}">Add tasks</a>
    </div>
</p>
<div class="p-5">
    <pre>{{cal}}</pre>
</div>

{% endblock %}




{% block left %}

{% for lt in d.items() %}                   {# d is dict -> key:date, value: list of tuple tasks #}
    <div class="card">
        <div class="card-header">
        {{lt[0]}}
        </div>
        <form action="{{url_for('todo.home')}}" method="POST">
        <div class="card-body">                     {# lt is list of tuples #} {# value->id #}
            {{lt}}
            
            {% for i in lt[1] %}   
                {% if i[2] == 'active' %}    
                <div class="form-check">        
                    <input class="form-check-input" type="checkbox" value={{i[0]}} id="updateid" name="updateid" />   
                    <label class="form-check-label" for="updateid">
                        {{i[1]}}
                    </label>
                </div>
                {% else %}
                    <p class="text-muted mb-1"> <del>
                        {{i[1]}}
                    </del>
                    </p>
                {% endif %}    
                
            {% endfor %}
            
        </div>
        {% if lt[1] %}
            <div class="mb-2 mr-2 align-self-end">
                <button type="submit" class="update btn btn-primary btn-sm">Update</button>
            </div>
        {% endif %}
        </form>
    </div>
    <br />
{% endfor %}

{% endblock %}



{% block middle %}
{{tmp}}
{% endblock %}